.container{
    background: #22236f;
    border: solid 2px #fff;
   
    padding: 5px;
    text-align: center;
    margin: 2em auto;
   height: 400px;
    width: 50%;
}
.d-flex{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container > div{
    color: #fff;
    padding: 8px 0;
    font-weight: bold;
    border: solid 2px #fff;

}