div{
    border: calc(2px*5) solid #000;
    margin: 2em 0;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
div:nth-child(2){
    width: 300px;
    height: 300px;
    border-radius: 100%;
}